<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Update Product</h1>
            <form (ngSubmit)="onSubmit()">
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" id="name" name="name" [(ngModel)]=" updateProduct.name"> 
                </div>
                <div class="mb-3">
                    <label for="type" class="form-label">Type</label>
                    <input type="text" class="form-control" id="type" name="type" [(ngModel)]=" updateProduct.type"> 
                </div>
                <div class="mb-3">
                    <label for="color" class="form-label">Color</label>
                    <input type="text" class="form-control" id="color" name="color" [(ngModel)]="updateProduct.color"> 
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="text" class="form-control" id="price" name="price" [(ngModel)]="updateProduct.price"> 
                </div>
                
                <button type="submit" class="btn btn-primary">Update</button>
              </form>
          
        </div>
    </div>
</div>
